@import "../../../styles/colors.scss";
@import "../../../styles/transitions.scss";

.header-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #272727;
    border-bottom: 1px solid #3b3b3b;
    width: 100%;

    div {
        flex: 1
    }
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    flex-wrap: nowrap;
    width: fit-content;
    cursor: pointer;
}

img {
    height: 2.5em;
    margin-right: -0.75em;
}

span {
    font-size: 1.25em;
    font-weight: bold;
    white-space: nowrap;
    color: white;
}


.right, .left, .center, .routes, a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .title-wrapper {
    justify-content: flex-start;
}

.center {
    gap: 2em;
    margin: 0;
    
    .routes {
        height: 50px;
    }
}

.right {
    padding-right: 1em;
    justify-content: flex-end;
}

svg {
    height: 2em;
    width: 2em;

    path {
        fill: white;
    }
}

.is-active {
    border-bottom: 2px solid white;
}