$inactive-icon-grey: #b5bac1;
$text-grey: #949ba4;
$grey-accent: #80848e;

$slate-1: #3d3e45;
$slate-2: #383a40;
$slate-3: #313338;
$slate-4: #2e3035;
$slate-5: #2b2d31;
$slate-6: #25262a;
$slate-7: #232428;
$slate-8: #1e1f22;
$slate-9: #1a1b1e;

$red: #f23f42;
$yellow: #f0b232;
$green: #23a55a;
$blue: #0060df;